<!doctype html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="utf-8">
    <title>Welcome to BooKart</title>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/Script.js"></script>
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body ng-controller="myController">

<!--<input type="text" ng-model="searchText"> &lt;!&ndash; Search to all columns for the specified text&ndash;&gt;-->

<input type="text" ng-model="searchText.name" placeholder="Search Name"> <!-- Search only to the specified column -->
<input type="text" ng-model="searchText.address" placeholder="Search Address"> <!-- Search only to the specified column -->

<input type="checkbox" ng-model="exactMatch"> Exact Match

<br><br>

test

<table>
    <thead>
    <tr>
        <th ng-click="sortData('name')">Name
            <div ng-class="getClassData('name')"></div>
        </th>
        <th ng-click="sortData('address')">Address
            <div ng-class="getClassData('address')"></div>
        </th>
        <th ng-click="sortData('gender')">Gender
            <div ng-class="getClassData('gender')"></div>
        </th>
        <th>Birthdate</th>
        <th>Salary (number)</th>
        <th>Salary (currency)</th>
    </tr>


    </thead>

    <tbody>
    <tr ng-repeat="employee in employees | filter: searchText:exactMatch | orderBy:sortColumn:ascending">
        <td>{{employee.name}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.gender | lowercase }}</td>
        <td>{{employee.birthdate | date:"dd/MM/yyyy" }}</td>
        <td>{{employee.salary | number:2}}</td>
        <td>{{employee.salary | currency}}</td>

    </tr>

    </tbody>
</table>


</body>
</html>